* {
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    margin: 10px;
}

nav ul li {
    border: 1px solid black;
    padding: 10px;
    display: inline-block;
    list-style-type: none;
}

footer {
    border-top: 1px solid black;
    margin: 10px 10px 10px 10px;
    text-align: center;
    padding: 10px;
}

main {
    height: 400px; /* Remove this when content added */
    margin: 15px;
}