* {
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    padding: 10px;
}

nav ul li {
    border: 1px solid black;
    padding: 10px;
    display: inline-block;
    list-style-type: none;
    border-radius: 10px;
    margin: 5px;
}

footer {
    border-top: 1px solid black;
    margin: 10px 10px 10px 10px;
    text-align: center;
    padding: 10px;
}

main {
    margin: 15px;
}

#CarouselAI {
    background-image: url("images/AISoftware.jpg");
}

#CarouselIDE {
    background-image: url("images/IDEs.png");
}

#CarouselBusiness {
    background-image: url("images/SoftwareInBusiness.jpg");
}

.CarouselClick {
    height: 200px;
    font-weight: bold;
    text-align: center;
    padding-top: 90px;
}

.CarouselClick a {
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding: 7px;
    color: black;
    text-decoration: None;
}

.CarouselClick a:hover {
    background-color: lightblue;
    text-decoration: underline;
}

.nav-item:hover {
    background-color: lightgray !important;
}

.carousel-item {
    border-radius: 15px;
}